@font-face {
    font-family: Matrix;
    src: url('./assets/fonts/VCR_OSD_MONO_1.001.ttf') format('opentype');
    font-weight: normal;
    font-style: normal;
  }

body{
    font-family: Matrix, sans-serif;
}

body, html {
  background-color: black; /* Match your video background */
  margin: 0;
  padding: 0;
  overflow: hidden;
}
