@font-face {
    font-family: Matrix;
    src: url('./assets/fonts/VCR_OSD_MONO_1.001.ttf') format('opentype');
    font-weight: normal;
    font-style: normal;
  }

body{
    font-family: Matrix, sans-serif;
}

body, html {
  background-color: black; /* Match your video background */
  margin: 0;
  padding: 0;
  overflow: hidden;
}

/* Default: Desktop view */
.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 2rem 1.5rem; /* Adjust padding as needed */
}

/* Center the logo and button in mobile view */
@media (max-width: 768px) { /* Adjust breakpoint as needed */
  .header-container {
    flex-direction: column; /* Stack items vertically */
    align-items: center;   /* Center align items */
    gap: 1rem;             /* Add spacing between logo and button */
  }

  .logo-container {
    text-align: center; /* Ensure logo is centered */
  }

  .button-container {
    display: flex;
    justify-content: center; /* Center button */
    width: 100%; /* Optional: Make button container responsive */
  }
}
